.Rproj.user
.Rhistory
.RData
.Ruserdata
scripts/2023/week 4 alone/images
scripts/2023/week-21-squirrels/images
scripts/2023/week-30-scurvy/photorealistic/
scripts/dev
images
scripts/2023/week-41-haunted-places/DALL-E
